<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <a id="logo" href="/">OMDbMovies</a>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/">Home</a></li>
      </ul>
    </nav>
  </div>
</header>
<%= react_component 'App' %>
